<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: yellow;">
    <h1>THIS IS NEW PAGE</h1>


</div >
<form action="/save_user/" method="POST" >
<p style="display: inline;">Enter Your Name:</p> <input type="text" name="name" id="name">
</br>
<input type="submit" value="Submit">
</form>
<h3></h3>
</body>
</html>