<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImageDemo</title>
</head>
<body style="background-image:img/bg1.png;">
    <h1>SHOW IMAGE DEMO</h1>
    <img src="templates/img/bg1.png">
    <img src="/templates/img/bg1.png">
    <img src="bg3.png">
    <img src="/bg3.png">
    <img src="app/templates/img/bg2.png">
    <img src="app/p4piyush/templates/bg2.png">
    
</body>
</html>